vendor/
node_modules/
npm-debug.log
material/
blog/
*.sublime-project
*.sublime-workspace
public/js/inputmask/
.idea/
database/migrations/
public/fonts/
resources/assets/sass/Webfonts/
storage/framework/sessions

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
storage/*.key
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json



# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/
