$color-primary: #53b2d3;

$color-accent-primary: #A1992F;
$color-accent-secondary: #D49453;

$color-shade-primary: #214754;
$color-shade-secondary: #3A7D94;
$color-shade-tertiary: #499EBA;
$color-shade-quaternary: #375d7b;

$color-dark-primary: #3A4E54;
$color-dark-secondary: #575C6E;
$color-dark-tertiary: #31536E;

$color-grey-primary: #f7f7f7;
$color-grey-secondary: #e7e7e7;
$color-grey-tertiary: #efefef;
$color-grey-quaternary: #ededed;

$color-grey-dark-primary: #e0e0e0;